 .paragraphBorder {
    @apply sm:w-2/3 mx-auto leading-7 space-y-6 relative;
}

.paragraphBorder:before {
    display: block;
    content: '';
    left:0;
    top:0;
    border-radius:20px;
/*     -ms-transform: translateY(-50%);
    transform: translateY(-50%); */

    @apply bg-yellow-100 mt-0 w-2 h-full -ml-6 absolute;
}
